@import url("https://fonts.googleapis.com/css2?family=Allura&family=Playfair+Display:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&display=swap");

.document-history h3 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  font-family: "Playfair Display", serif;
  color: whitesmoke;
}

.history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  /* color: white; */
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.history-item p {
  margin: 5px 0;
}

.history-item a {
  color: #0077cc;
  text-decoration: none;
}

.history-item a:hover {
  text-decoration: underline;
}
.document-history {
  text-align: left;
  padding: 1rem;
  font-family: "Times New Roman", Times;
  max-width: 100%;
  margin: auto;
  background: rgb(149, 191, 126);
}
.history-item {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 12px;
  background: rgb(169, 220, 142);
  border-radius: 6px;
}

.file-link {
  color: #007bff;
  text-decoration: none;
}

.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  font-size: 14px;
}

.pagination-controls button {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background-color: #eee;
  cursor: pointer;
}

.pagination-controls button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* @media (min-width: 375px) {
  .document-history h3 {
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #333;
  }
  .txtFilename {
    font-size: 0.5rem;
    color: red;
    font-weight: 700;
  }
  .txtSigner {
    font-size: 0.1rem;
  }
  .txtSigned {
    font-size: 0.7rem;
  }
  .txtHash {
    font-size: 0.7rem;
  }
  .file-link {
    font-size: 0.7rem;
  }
} */
@media (max-width: 480px) {
  .document-history {
    text-align: left;
    background-color: rgb(10, 9, 14);
    border-radius: 8px;
    font-family: "Playfair Display", serif;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1.5rem auto;
  }
  .document-history h3 {
    margin-bottom: 20px;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    color: #f3ecec;
  }
  .txtFilename {
    font-size: 0.8rem;
    color: red;
    font-weight: 700;
  }
  .txtSigner {
    font-size: 0.8rem;
  }
  .txtSigned {
    font-size: 0.8rem;
  }
  .txtHash {
    font-size: 0.8rem;
  }
  .file-link {
    font-size: 0.7rem;
  }
}

/* @media (max-width: 450px) {
  .document-history {
    text-align: left;
    background-color: rgb(243, 242, 247);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1.5rem auto;
  }
  .document-history h3 {
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: #333;
  }
  .txtFilename {
    font-size: 0.5rem;
    color: red;
    font-weight: 700;
  }
  .txtSigner {
    font-size: 0.7rem;
  }
  .txtSigned {
    font-size: 0.7rem;
  }
  .txtHash {
    font-size: 0.7rem;
  }
  .file-link {
    font-size: 0.7rem;
  }
} */
@media (min-width: 360px) and (max-width: 450px) {
  .document-history {
    text-align: left;
    background-color: rgb(243, 242, 247);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin: 1.5rem auto;
  }
  .document-history h3 {
    margin-bottom: 20px;
    font-size: 0.8rem;
    color: #333;
  }
  .txtFilename {
    font-size: 0.6rem;
    color: red;
    font-weight: 700;
  }
  .txtSigner {
    font-size: 0.6rem;
  }
  .txtSigned {
    font-size: 0.7rem;
  }
  .txtHash {
    font-size: 0.7rem;
  }
  .file-link {
    font-size: 0.7rem;
  }
}
