@import "./variables.css";
@import "./animations.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  background-color: #ff870f;
  color: var(--dark);
  line-height: 1.6;
}
.card {
  /* background: white; */
  /* background: #ff962c; */
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-bottom: 2rem;
}
