@import "./variables.css";
@import "./animations.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;
  /* background-color: #ff870f; */

  background-image: url("../assets/main background.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  background-attachment: fixed; /* Optional: Fixed background on scroll */
  height: 100vh; /* Full viewport height */
  color: var(--dark);
  line-height: 1.6;
}
.card {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 2rem;
  margin-bottom: 2rem;
}
